{% extends 'Emc23SigsBundle::base.html.twig' %}
{% block body %}
{{ knp_menu_render('AcmeSigsBundle:Builder:mainMenu') }}
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table width="100%"> 
<tr>
{# sorting of properties based on query components #}
    <th> {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>
    <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Title', 'a.name') }} </th>
      
        <th> Faction </th>
    <th> health </th>
    <th> strength </th>
 <th> intelligence </th>
   
 <th> contentment </th>
 <th> birth </th>
  <th> owner </th>
    
</tr>

{# table body #}
{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
   
   
   <td><a href="/app_dev.php/show/{{article.id}}/{{type}}">{{article.id}}</a></td>
    <td><a href="/app_dev.php/show/{{article.id}}/{{type}}">{{article.name}}</a></td>  
    <td><a href="/app_dev.php/show/{{article.faction}}/{{type}}">{{article.faction}}</a></td>  
   <td>{{article.health}}</td>
   <td>{{article.strength}}</td>
   <td>{{article.intelligence}}</td>
   <td>{{article.contentment}}</td>
   <td>{{article.birth}}</td>
  <td>{{article.owner}}</td>



</tr>
{% endfor %}
</table>

<a href="/app_dev.php/new/{{type}}">New</a>




{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
