{% extends 'Emc23SigsBundle::base.html.twig' %}

{% block body %}

{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table id = 'myTable' width="100%">
    <thead><tr>
{# sorting of properties based on query components #}
    <th> {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>
    <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Title', 'a.name') }} </th>
       <th{% if pagination.isSorted('a.posx') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Pos-X', 'a.posx') }} </th>
       <th{% if pagination.isSorted('a.posy') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Pos-Y', 'a.posy') }} </th>
        <th> map </th>
    <th> grid </th>
    <th> level </th>
    <th> xp </th>
    <th> energy </th>
    <th> statpoints </th>
    <th> health </th>

    <th> finalAttack </th>

    <th> finalDefence </th>
    <th> idWeapon </th>
    <th> strength </th>


</tr> </thead>

{# table body #}

{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td><a href="/characters/{{article.id}}/{{type}}">{{article.id}}</a></td>
    <td><a href="/characters/{{article.name}}/{{type}}">{{article.name}}</a></td>
    <td></td>
    <td></td>
    <td> {{article.map}} </td>
    <td> {{article.grid}} </td>
    <td> {{article.level}} </td>
    <td> {{article.xp}} </td>
    <td> {{article.energy}} </td>
    <td> {{article.statpoints}} </td>
    <td> {{article.health}} </td>
    <td> {{article.finalAttack}} </td>
    <td> {{article.finalDefence}} </td>
    <td> {{article.idWeapon}} </td>
    <td> {{article.strength}} </td>
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
