{% extends 'base.html.twig' %}
{% block body %}

    {# total items count #}
    <div class="count">

    </div>
    <table id='myTable' width="100%">
        <thead>
        <tr>
            <th></th>
            <th> id </th>
            <th> type </th>

            <th> cellwidth</th>
            <th> cellheight</th>
            <th> numberofcells</th>
        </tr></thead>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    <div style="width:{{ article.cellwidth }}px;
                                height:{{ article.cellheight }}px;
                            overflow:hidden;">
                        <img src="http://www.eclecticmeme.com/components/com_battle/images/assets/chars/monsters/{{ article.name }}/{{ article.spritesheet }}">
                    </div></td>
                <td>{{ article.id }}</td>
                <td> <a href="/monstertypes/{{ article.id }}">{{ article.name }}</a></td>


                <td>{{ article.cellwidth }}</td>
                <td>{{ article.cellheight }}</td>
                <td>{{ article.numberofcells }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="/monsterTypes/new/">New</a>
    {# display navigation #}
    <div class="navigation">

    </div>

{% endblock %}
