{% extends 'base.html.twig' %}
{% block body %}

    {# total items count #}
    <div class="count">

    </div>
    <table id='myTable' width="100%">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th> id </th>
            <th>title</th>

            <th> Faction</th>
            <th> health</th>
            <th> strength</th>
            <th> intelligence</th>

            <th> contentment</th>
            <th> birth</th>
            <th> owner</th>

        </tr>
        </thead>
        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>

                <td><a href="/hobbits/{{ article.id }}/">{{ article.id }}</a></td>
                <td><a href="/hobbits/{{ article.id }}/">{{ article.name }}</a></td>
                <td><a href="/hobbits/{{ article.faction }}/">{{ article.faction }}</a></td>
                <td>{{ article.health }}</td>
                <td>{{ article.strength }}</td>
                <td>{{ article.intelligence }}</td>
                <td>{{ article.contentment }}</td>
                <td>{{ article.birth }}</td>
                <td>         <div style="width:{{ article.cellwidth }}px;
                            height:{{ article.cellheight }}px;
                            overflow:hidden;">
                        <img src="http://www.eclecticmeme.com/components/com_battle/images/assets/chars/halflings/{{ article.type.typename }}.png">
                    </div></td>


            </tr>
        {% endfor %}
    </table>

    <a href="/hobbits.php/new/">New</a>




    {# display navigation #}
    <div class="navigation">

    </div>

{% endblock %}
