{% extends 'base.html.twig' %}
{% block body %}

    {# total items count #}
    <div class="count">

    </div>
    <table id='myTable' width="100%">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th> Name</th>
            <th> Total Members</th>
            <th> Coffers</th>
            <th> Captain</th>

        </tr>
        </thead>
        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>

                <td><a href="/groups/{{ article.id }}">{{ article.id }}</a></td>
                <td>{{ article.totalMembers }}</td>
                <td>{{ article.coffers }}</td>

                <td>{{ article.captain }}</td>


            </tr>
        {% endfor %}
    </table>

    <a href="/groups/new/">New</a>




    {# display navigation #}
    <div class="navigation">

    </div>

{% endblock %}
