{% extends 'Emc23HelloBundle::base.html.twig' %}
{% block body %}
{{ knp_menu_render('Emc23HelloBundle:Builder:mainMenu') }}
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table width="100%"> 
<tr>
{# sorting of properties based on query components #}
    <th> {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>
    <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }} </th>
       <th{% if pagination.isSorted('a.posx') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Pos-X', 'a.posx') }} </th>
       <th{% if pagination.isSorted('a.posy') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Pos-Y', 'a.posy') }} </th>
        <th> map </th>
    <th> grid </th>
    <th> level </th>
    <th> xp </th>
    <th> energy </th>
    <th> statpoints </th>
    <th> health </th>
    <th> attack </th>
    <th> finalAttack </th>
    <th> defence </th>
    <th> finalDefence </th>
    <th> idWeapon </th>
    <th> strength </th>
    
    
</tr>

{# table body #}
{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
   
   
   <td><a href="/app_dev.php/show/{{article.id}}/{{type}}">{{article.id}}</a></td>
   
   <td>{{article.name}}</td>
   <td>{{article.posx}}</td>
    <td>{{article.posy}}</td>
    <td>{{article.map}}</td>
    <td>{{article.grid}}</td>
    <td>{{article.level}}</td>
    <td>{{article.xp}}</td>
    <td>{{article.energy}}</td>
    <td>{{article.statpoints}}</td>
    <td>{{article.health}}</td>
    <td>{{article.attack}}</td>
    <td>{{article.finalAttack}}</td>
    <td>{{article.defence}}</td>
    <td>{{article.finalDefence}}</td>
    <td>{{article.idWeapon}}</td>
    <td>{{article.strength}}</td>








</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
