{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    {# total items count #}
    <div class="count">
    </div>
    <table id='myTable' width="100%">
        <thead>
        <tr>
            <th>  </th>
            <th> id </th>
            <th> name </th>
            <th> cellwidth</th>
            <th> cellheight</th>
            <th> numberofcells</th>
            <th></th>
        </tr></thead>
        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}{% endif %}>
                <td>   <div style="width:{{ article.cellwidth }}px;
                            height:{{ article.cellheight }}px;
                            overflow:hidden;">
                        <img src="http://www.eclecticmeme.com/components/com_battle/images/assets/chars/monsters/{{ article.name }}/{{ article.name }}.png">
                    </div></td>
                <td><a href="/monstertype?id={{article.id}}">{{article.id}}</a></td>
                <td><a href="/monstertype?id={{article.id}}">{{article.name}}</a></td>
                <td>{{article.cellWidth}}</td>
                <td>{{article.cellHeight}}</td>
                <td>{{article.numberOfCells}}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/monsterTypes/new/">New</a>
    {# display navigation #}
    <div class="navigation">   {{ knp_pagination_render(pagination) }}
    </div>
    <script src="/scripts/MonsterTypes.js"></script>
{% endblock %}
