{% extends 'AppBundle::base.html.twig' %}
{% block body %}
{{ knp_menu_render('AppBundle:Builder:mainMenu') }}
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table width="100%"> 
<tr>
{# sorting of properties based on query components #}
    <th> {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>
    <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Title', 'a.name') }} </th>
    <th> Faction </th>
    <th> Type </th>
    <th> health </th>
    <th> strength </th>
    <th> intelligence </th>
    <th> contentment </th>
    <th> birth </th>
    <th> owner </th>
    <th> map </th>
    <th> grid </th>
</tr>
{# table body #}
{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td><a href="/hobbit/{{article.id}}">{{article.id}}</a></td>
    <td><a href="/hobbit/{{article.id}}">{{article.name}}</a></td>
    <td><a href="/faction/{{article.faction}}">{{article.faction}}</a></td>
    <td>{{article.type}}</td>
    <td>{{article.health}}</td>
    <td>{{article.strength}}</td>
    <td>{{article.intelligence}}</td>
    <td>{{article.contentment}}</td>
    <td>{{article.birth}}</td>
    <td>{{article.owner}}</td>
    <td>{{article.map}}</td>
    <td>{{article.grid}}</td>
</tr>
{% endfor %}
</table>
<a href="/new/{{type}}">New</a>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
