{% extends 'AppBundle::base.html.twig' %}
{% block body %}
{{ knp_menu_render('AppBundle:Builder:mainMenu') }}
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table width="100%"> 
<tr>
{# sorting of properties based on query components #}
    <th> {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>
    <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }} </th>
    <th{% if pagination.isSorted('a.posx') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Pos-X', 'a.posx') }} </th>
    <th{% if pagination.isSorted('a.posy') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Pos-Y', 'a.posy') }} </th>
    <th> map </th>
    <th> grid </th>
    <th> level </th>
    <th> xp </th>
    <th> energy </th>
    <th> statpoints </th>
    <th> health </th>
    <th> finalAttack </th>
    <th> finalDefence </th>
</tr>
{# table body #}
{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
   <td><a href="/building?id={{article.id}}">{{article.id}}</a></td>
   <td><a href="/building?id={{article.id}}">{{article.name}}</a></td>
   <td>{{article.posx}}</td>
    <td>{{article.posy}}</td>
    <td>{{article.map}}</td>
    <td>{{article.grid}}</td>
    <td>{{article.level}}</td>
    <td>{{article.xp}}</td>
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
