{% extends 'AcmeHelloBundle::base.html.twig' %}



{% block body %}
{{ knp_menu_render('AcmeHelloBundle:Builder:mainMenu') }}


{# total items count #}


<table width="100%"> 
<tr>
{# sorting of properties based on query components #}

    <th> grid </th>
    <th> level </th>
    <th> xp </th>
    
    
</tr>

{# table body #}

{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
   
   
   <td><a href="/app_dev.php/show/{{article.fid}}/">{{article.fid}}</a></td>
    <td><a href="/app_dev.php/show/{{article.fid}}/">{{article.factiontotalBank}}</a></td>  


</tr>
{% endfor %}
</table>



{% endblock %}
